@model BlogCreateVM

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
     
</style>

<div class="card shadow my-5">
    <div class="card-body">
        <form class="form-group" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6 my-2">
                    <span>Title</span>

                    <input class="form-control" placeholder="Title" type="text" name="Title" />
                    
                </div>
                <div class="col-lg-6 my-2">
                    <span>Auhtor</span>
                    <select class="form-control" name="UserId">

                        @foreach (var user in Model.Users)
                        {
                            <option value="@user.Id">@user.Name</option>
                        }

                    </select>
                </div>
                <div class="col-lg-6 my-3">
                    <span>PhotoUrl</span>
                    <input @*style="width:30%"*@ class="form-control" accept=".png, .jpg, .jpeg" type="file" name="NewPhotoURL" />
                     <span style="color: red;">@ViewBag.PhotoEmpty</span>
                </div>
                <div class="col-lg-6 my-3 ">
                    <span>Category</span>

                    <select class="form-control" name="CategoryId">

                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }

                    </select>
                </div>
                <div class="col-lg-12 my-2">
                    <textarea id="editor" class="form-control" placeholder="Description" type="text" name="Description"> </textarea>
                </div>



            </div>
            <div class="action mt-3">
                <input type="submit" value="Create" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-primary"> Return to Blog</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

}