@model IEnumerable<Blog>
<style>
    .add-btn{
        width: 50px;
        height:50px;
        margin-top:20px;
        cursor:pointer;
    }
    .icon-btn {
      width: 50px;
      height: 50px;
      border: 1px solid #cdcdcd;
      background: white;
      border-radius: 25px;
      overflow: hidden;
      position: relative;
      transition: width 0.2s ease-in-out;
      font-weight: 500;
      font-family: inherit;
    }

    .add-btn:hover {
      width: 120px;
    }

    .add-btn::before,
    .add-btn::after {
      transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
      content: "";
      position: absolute;
      height: 4px;
      width: 10px;
      top: calc(50% - 2px);
      background: seagreen;
    }

    .add-btn::after {
      right: 14px;
      overflow: hidden;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    .add-btn::before {
      left: 14px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    .icon-btn:focus {
      outline: none;
    }

    .btn-txt {
      opacity: 0;
      transition: opacity 0.2s;
    }

    .add-btn:hover::before,
    .add-btn:hover::after {
      width: 4px;
      border-radius: 2px;
    }

    .add-btn:hover .btn-txt {
      opacity: 1;
    }

    .add-icon::after,
    .add-icon::before {
      transition: all 0.2s ease-in-out;
      content: "";
      position: absolute;
      height: 20px;
      width: 2px;
      top: calc(50% - 10px);
      background: seagreen;
      overflow: hidden;
    }

    .add-icon::before {
      left: 22px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    .add-icon::after {
      right: 22px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    .add-btn:hover .add-icon::before {
      left: 15px;
      height: 4px;
      top: calc(50% - 2px);
    }

    .add-btn:hover .add-icon::after {
      right: 15px;
      height: 4px;
      top: calc(50% - 2px);
    }

    tr{
        cursor:default;
    }
    .btn-action{
        margin-bottom: 10px;
    }
</style>



<a class="add-btn" href="/dashboard/blog/create">
    <button class="icon-btn add-btn">
        <div class="add-icon"></div>
        <div class="btn-txt">Add</div>
    </button>
</a>

<!-- DataTales Example -->
<div class="card shadow my-4">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Hit</th>
                        <th>Photo</th>
                        <th>Category</th>
                        <th>PublishDate</th>
                        <th>UpdateDate</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Hit</th>
                        <th>Photo</th>
                        <th>Category</th>
                        <th>PublishDate</th>
                        <th>UpdateDate</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var blog in Model)
                    {
                        <tr>
                            @{
                                var title = blog.Title.Length > 60 ? blog.Title.Substring(0, 60) + "..." : @blog.Title;
                                var description = blog.Description.Length > 100 ? blog.Description.Substring(0, 100) + "..." : @blog.Description;
                                <td>@title</td>
                                <td>@Html.Raw(description)</td>
                                <td>@blog.Author</td>
                                <td>@blog.Hit</td>
                                <td>
                                    <img class="blog-img" src="@blog.PhotoURl" width="200" height="150" />
                                </td>
                                <td>@blog.Category.Name</td>
                                <td>@blog.PublishDate</td>
                                <td>@blog.UpdateDate</td>
                                <td>
                                    <a blog-value="@blog.Id" class="btn btn-action btnSave btn-outline-danger delete-btn">Delete</a>
                                    <a class="btn btn-action btn-outline-warning" href="/dashboard/blog/edit/@blog.Id">Update</a>
                                    <a class="btn btn-action btn-outline-primary" href="/dashboard/blog/detail/@blog.Id">Detail</a>
                                </td>
                            }

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        $(".btnSave").click(function (e) {

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    let blogId = e.currentTarget.attributes[0].value
                    $.ajax({
                        method: "POST",
                        url: "blog/delete/",
                        data: {
                            id: blogId
                        }
                    })
                    Swal.fire({
                        title: 'Deleted',
                        text: "blog is delete!",
                        icon: 'success',

                    }).then((result) => {
                        window.location = "blog"
                    })

                }
            })
        })
    </script>
}
